.gris{
    background-color: grey;
}

.violeta{
    background-color: violet;
}

.azul{
    background-color: blue;
}

.verde{
    background-color: green;
}

.amarillo{
    background-color: yellow;
}

.naranja{
    background-color: orange;
}

.rojo{
    background-color: red;
}